.searchForm {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}
.searchInput {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(249, 245, 145);
    border: 1px solid rgb(52, 172, 251);
}

.searchInput:focus {
    border: 1px solid rgb(186, 242, 139);
}

.searchBtn {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(249, 245, 145);
    border: 1px solid rgb(52, 172, 251);
}

.searchBtn:focus {
    border: 1px solid rgb(186, 242, 139);
}
